body {background-color: #E8DFCA;
    width: 100%;}
    hr {
    
    border-style: none;
    border-color: #395B64;
    border-width: 4px;
    border-top-style: dotted;
    width: 30%;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    }
    h1 {
      color: #7895B2;
      font-family: 'Roboto Condensed', sans-serif;
      
      font-size: 500%;
      
    }
    h2,h3 {
      color: #A5C9CA;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 400%;
      
    }

table { 
color: #E7F6F2;
font-size: 250%;


}
a { 
color: #E7F6F2;
}
p { 
color: #7895B2;
padding-top: 0px;
margin-top: 0px;


font-family: 'Roboto Condensed', sans-serif;
font-size: 250%;
}
div {

width: 100%;
padding: 15px;

}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.container {
position: relative;
text-align: center;
color: white;
}


.Name {
  position: relative;
  margin: 0px;
  left: -390px;
  top: -470px;
  
  color: white;
  
}
.home {
  position: absolute;
  right: 500px;
  top: 35px;
  color: white;
  font-size: 20px;
}
.ourclients {
  position: absolute;
  right: 350px;
  top: 35px;
  color: white;
  font-size: 20px;
}
.ourworks{
  position: absolute;
  right: 200px;
  top: 35px;
  color: white;
  font-size: 20px;
}
.contactus {
  position: absolute;
  right: 50px;
  top: 35px;
  color: white;
  font-size: 20px;
}
.header {
  background-color: #E8DFCA;
  height: 50px;
  
}